* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: Kreon;
  font-size: 1.6rem;
}

.jumbotron {
  background-image: url(img/pexels-photo-132694.jpeg);
  background-size: cover;
}

.navbar {
  background-color: rgba(33, 45, 57, 0.8);
  border-bottom: #3e2c0a 0.5rem solid;
  padding: 0;
}
.navbar .navbar-brand {
  font-size: 2.5rem;
}
.navbar a {
  color: white;
}
.navbar .navbar-collapse {
  justify-content: flex-end;
}
.navbar .navbar-collapse .nav-link {
  padding: 1rem;
}
.navbar .navbar-collapse .nav-link:hover {
  background-color: #3e2c0a;
}

/*# sourceMappingURL=style.css.map */
