$color_primary: #333;
$color_txt: #3e2c0a;
$bgcolor_nb:#212d39 0.8;
$bordercolor_nb: #3e2c0a;
$bgcolor_titre:#3e2c0a;

*{
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
}

body{
    font-family: Kreon;
    font-size: 1.6rem;
}

.jumbotron {
    background-image: url(img/pexels-photo-132694.jpeg);
    background-size: cover;
}

.navbar{
    background-color: rgba(33, 45, 57, 0.8);
    border-bottom: #3e2c0a 0.5rem solid;
    padding: 0;

    .navbar-brand{
        font-size: 2.5rem;
    }

    a{
        color: white;
    }

    .navbar-collapse {
        justify-content: flex-end;
        
        .nav-link{
            padding: 1rem;
        
            &:hover{
            background-color: #3e2c0a;
            }
        }
    }
}